*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#tab-container{
    padding:50px;
}

#tab-container .tabs{
margin-right: 10px;
padding: 10px 20px;
cursor: pointer;
background-color: rgb(0, 255, 179);
color: darkmagenta;
border: none;
font-weight: bolder;
}

#tab-container .tabs.active{
    background-color: rgb(16, 139, 102); 
    color:lightgoldenrodyellow; 
}

#button-container .btns.active{
    background-color: darkslategrey;
    color: aliceblue;
}

#button-container{
    margin:50px 100px;
    padding:0 20px;
}


#button-container button{
    margin-right: 30px;
padding: 10px 20px;
cursor: pointer;
background-color: gainsboro;
color: rgb(42, 0, 139);
border: none;
font-weight: bolder;
}

table{
    margin-left: 120px;
}
th{
    color: antiquewhite;
    text-transform:uppercase;
    background-color: midnightblue;
}
table,td,th,tr{
    border-collapse: collapse;
    padding: 10px 15px;
    border: 1px solid gray;
}
@media only screen and (max-width:768px){
    button{
        margin-bottom: 10px !important;
        
    }

    #button-container{
        margin:10px 50px !important;

    }

    table{
        margin: auto !important;
    }
} 
